td {
  font-size: 6em;
  background-color: yellow;
  color: blue;
  width: 150px;
  height: 150px;
  text-align: center;
}

td:hover {
  background-color: rgb(201, 201, 0);
}


table {
  margin: auto;
}